rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Menu items images
    // Read: Public
    // Write: Only authenticated owner can upload to their own folder
    match /restaurants/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
